 <section class="" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div class="container-fluid project-container">
            <div class="row no-gutter">

                    {{#each projects}}

                         <div class="col-lg-4 col-sm-6" >
                        <div data-toggle="modal" data-target="#proj-{{this.id}}" class="portfolio-box {{this.id}}" style="background: url(/images/portfolio/{{this.id}}.jpg);">


                            <div class="portfolio-box-caption">


                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        {{this.title}}
                                    </div>
                                    <div class="project-name">
                                       {{this.short_description}}
                                    </div>
                                    <div class="cta-container">
                                         <div class="btn btn-moreinfo">Info</div>
                                         <a class="btn" href='{{this.link.value}}' target="_blank">Live link</a>

                                    </div>

                                </div>
                            </div>
                         </div>
                         </div>



                         <div id="proj-{{this.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content myModalContent">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title">{{title}}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{description}}</p>
                                        <div class="skills">
                                             {{#each skills}}
                                                <button  class="btn btn-primary">{{this}}</button>
                                             {{/each}}
                                        </div>
                                        <div class="live-link">
                                            <a class="btn btn-default" href='{{this.link.value}}' target="_blank">Live link</a>
                                        </div>

                                    </div>
                                    <!--<div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    {{/each}}




            </div>
        </div>
    </section>
